#login-btn, #signup-btn {
    border-radius: 5px;
    color: white;
}

#login-btn span, #signup-btn span {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.loader {
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid yellow;
  }