p, h1, h2, h3, h4, h5, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav-button, #desc-button {
    /* border: 2px solid #0029ff; */
    /* background-color: #0029ff!important; */
    border-radius: 30px;
    /* position: sticky; */ /*Trying this to make the nav elements line up*/
}

#nav-button span, #desc-button span {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.bg-secondary {
    background-color: #505050!important;
}

.bg-dark, .navbar-dark {
    background-color: #1e1e1e!important;
}

.btn-secondary {
    background-color: #3e3e3e!important;
}

.btn-secondary:hover {
    background-color: #2e2e2e!important;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('./imgs/heroimagedark.jpg');
    background-size: cover;
    height: 50vh;
    margin-bottom: 0;
    padding: 2rem;
} 

#contact-link:hover {
    text-decoration: none;
}

.card {
    display:flex;
    margin-top: 2vh;
    position: inline;
    opacity: 0.8 !important;
    background-color: #000000;
}

.card-text {
    opacity: 1 !important;
}

#profile-id {
    color: #ffffff;
    margin-top: 2vh;
}

#all-courses {
    text-align: right;
}